/* # */
.theme-color-green {
    color: #008044;
}
.theme-bg-green {
    background-color: #008044;
}
.theme-bg-light-green {
    background-color: #CBF0DD;
}
.main-bg {
    background-color: #EEFDF5;
}

